<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="colorlevel"
                    converterClass="fr.norad.logback.prettier.ColorLevelCompositeConverter" />
    <conversionRule conversionWord="bold"
                    converterClass="fr.norad.logback.prettier.BoldCompositeConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>true</withJansi>
        <encoder>
            <pattern><![CDATA[%blue(%d{HH:mm:ss.SSS}) [%-10.10thread] %colorlevel(%-5level) %-45.45(%41C{41}:%L) - %msg%n]]></pattern>
        </encoder>
        <filter class="fr.norad.logback.prettier.OutFilter" />
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <withJansi>true</withJansi>
        <encoder>
            <pattern><![CDATA[%boldBlue(%d{HH:mm:ss.SSS}) %bold([%-10.10thread]) %colorlevel(%-5level) %bold(%-45.45(%41C{41}:%L)) - %colorlevel(%msg) %n]]></pattern>
        </encoder>
        <filter class="fr.norad.logback.prettier.ErrFilter" />
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>

    <logger name="uk.co.soton.itinnovation.samplerestservice.Application">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework">
        <level value="INFO" />
    </logger>

    <logger name="org.apache">
        <level value="INFO" />
    </logger>

    <logger name="twitter4j">
        <level value="INFO" />
    </logger>

    <logger name="org.quartz">
        <level value="ERROR" />
    </logger>

    <logger name="com.novemberain">
        <level value="ERROR" />
    </logger>

    <logger name="ch.qos">
        <level value="ERROR" />
    </logger>

    <logger name="org.brickred">
        <level value="ERROR" />
    </logger>

</configuration>